:root {
  font-size: 16px;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.3rem;
  position: relative;
}

@media (min-width: 48rem) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64rem) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
  padding: 1rem;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card.gradient {
  background: linear-gradient(to bottom right, #6b46c1, #d53f8c);
  color: white;
  z-index: 1;
}

.card:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.card:nth-child(2) {
  grid-column: span 1;
  grid-row: span 1;
}

.card:nth-child(3) {
  grid-column: span 1;
  grid-row: span 1;
}

.card:nth-child(4) {
  grid-column: span 1;
  grid-row: span 1;
}

.card:nth-child(5) {
  grid-column: span 1;
  grid-row: span 2;
}

.card:nth-child(6) {
  grid-column: span 1;
  grid-row: span 1;
}

.card:nth-child(7) {
  grid-column: span 1;
  grid-row: span 1;
}

.card:nth-child(8) {
  grid-column: span 1;
  grid-row: span 1;
}

.secondary {
  background-color: #f6e05e;
}

.secondary:hover {
  background-color: #fbd38d;
}

.blue {
  background-color: #3182ce;
  color: white;
}

.green {
  background-color: #c6f6d5;
}

.red {
  background-color: #f56565;
  color: white;
}

.red:hover {
  background-color: #e53e3e;
}

.indigo {
  background-color: #ebf8ff;
}

.orange {
  background: linear-gradient(to right, #f6ad55, #e53e3e);
  color: white;
}

.cyan {
  background-color: #81e6d9;
}

.cyan:hover {
  background-color: #b2f5ea;
}

h2, h3 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-center {
  text-align: center;
}
