.homepage-container {
    display: flex;
    height: 100vh; /* Full viewport height */
    margin-top: 3rem;
    background: linear-gradient(45deg, rgb(36, 35, 35), rgb(66, 63, 63),rgb(67, 65, 65),rgb(60, 58, 58),  #fcb326, rgb(60, 58, 58) ,rgb(67, 66, 66)); /* Background color of the page */
}

.left-section, .right-section {
    flex: 1; /* Each section takes up 50% of the width */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section {
    flex-direction: column; /* Stack items vertically */
    text-align: center; /* Center-align text */
}

.website-name {
    font-size: 5rem; /* Adjust size as needed */
    font-weight: bold;
    color: rgb(255, 255, 255); /* Text color */
    margin-bottom: 5rem; /* Space between website name and tagline */
    margin-left: 3rem;
    font-family: "Matemasie", sans-serif;
}

.tagline {
    font-size: 1.9rem; /* Adjust size as needed */
    color: #2dff42; /* Tagline color */
    max-width: 80%; /* Prevent text from overflowing */
    margin-left: 7rem;
}

.avatar {
    height: 30rem; /* Adjust height as needed */
    width: auto;
    border-radius: 50%; /* Make the avatar circular */
}
