.homepage-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 100vh;
  padding: 20px;
}

.left-section {
  width: 50%;
}

.tagline_home {
  font-family: 'Playfair Display', serif;

  font-size: 4.5rem;
  color: rgb(251, 251, 251);
  margin-top: 7rem;
  margin-left: 7rem;
}

.tagline2_home {
  font-family: 'Playfair Display', serif;

  font-size: 4.5rem;
  color: rgb(135, 91, 201);
  /* margin-top: 10rem; */
  margin-left: 7rem;
}

.tagpara_home {
  font-size: 1.5rem;
  color: #ffffff; 
  margin-top: 3rem;
  margin-left: 7.2rem;
}

.right-section {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Outer container that holds the feature boxes and hides overflow */
.slider-container {
  width: 47rem; /* Full width of the visible area */
  height: 10rem; /* Same height as the boxes */
  overflow: hidden; /* Hide overflow to ensure no scrollbars are visible */
  position: relative;
  margin-left: 4rem;
}

/* Inner container for the feature boxes, set up for sliding */
.feature-container {
  display: flex;
  width: fit-content; /* Dynamically adjust to the width of all boxes */
  animation: slide 20s linear infinite; /* Smooth sliding animation */
}

/* Styling for each feature box */
.feature-box {
  width: 11rem; /* Width of each box */
  height: 4rem;
  margin-top: 3rem; /* Fixed height for each box */
  background-color: #232c33; /* Dark background */
  color: #fff; /* White text */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-right: 20px; /* Space between boxes */
  text-align: center;
  font-family: "Macondo", cursive;

}

/* Keyframes for smooth sliding */
@keyframes slide {
  0% {
    transform: translateX(0); /* Start from the initial position */
  }
  100% {
    transform: translateX(-50%); /* Slide the container by half its width */
  }
}

