body {
  margin: 0;
  font-family: "Sevillana", cursive;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-top: 2rem;
  color: white;
  width: 100%;
  z-index: 1000;
}

.web_name {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.web_name a {
  text-decoration: none;
  color: white;
  font-size: 2.1rem;
}

.logo {
  height: 50px;
  width: auto;
  background-color: transparent;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 11rem;
  gap: 3rem;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  transition: 0.5s;
  font-size: 1.1rem;
  font-family: "Macondo", cursive;
}

.nav-links a:hover {
  color: #fcb326;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fcb326;
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Responsive design for mobile */
.menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  margin-right: 2rem;
  cursor: pointer;
}

/* Side Menu */
.side-menu {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.side-menu.active {
  right: 0;
}

.side-menu a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.side-menu a:hover {
  color: #fcb326;
}

.close-btn {
  font-size: 2rem;
  align-self: flex-end;
  margin-right: 1rem;
  cursor: pointer;
}

/* Hide nav links and show menu icon on small screens */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .web_name {
    margin-left: 1rem;
  }
}
