@keyframes gather-once {
  0% {
    transform: translate3d(var(--initial-x), var(--initial-y), 0) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

.animate-gather-once .card {
  animation: gather-once 1s ease-in-out forwards;
}

.hidden-before-animation {
  opacity: 0; /* Initially hidden */
  visibility: hidden;
}

.animate-gather-once {
  opacity: 1; /* Visible after animation starts */
  visibility: visible;
}

.card {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  --initial-x: calc(-50vw + 100px);
  --initial-y: calc(-50vh + 100px);
}

.card:nth-child(1) {
  --initial-x: -100vw;
  --initial-y: -100vh;
}

.card:nth-child(2) {
  --initial-x: 100vw;
  --initial-y: -100vh;
}

.card:nth-child(3) {
  --initial-x: -100vw;
  --initial-y: 100vh;
}

.card:nth-child(4) {
  --initial-x: 100vw;
  --initial-y: 100vh;
}

.card:nth-child(5) {
  --initial-x: -50vw;
  --initial-y: 100vh;
}

.card:nth-child(6) {
  --initial-x: 50vw;
  --initial-y: -100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .card {
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    margin: 0 auto;
  }

  /* Animation for cards to slide in */
  .card:nth-child(odd) {
    animation-name: slide-in-left;
  }

  .card:nth-child(even) {
    animation-name: slide-in-right;
  }

  @keyframes slide-in-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
