* {
    background: linear-gradient(rgb(33, 32, 32), rgb(67, 66, 66));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-clip: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}