body {
  padding: 0;
  margin: 0;
  /* background: linear-gradient(135deg, #232c33 0%, #2c363d 40%, #4f5b63 70%, #a0a7ac 100%); */
  background: rgb(30, 30, 30);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

